LOG_FORMAT=pretty
FORCE_COLOR=1

NODE_ENV=lab
SERVER_PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eblocul-server?schema=public

JOBS_WORKER_CLASSES=p0,p1,p2,p3,p4_short,p4_long
JOBS_WORKER_CONCURRENCY=4
JOBS_POLL_INTERVAL_MS=1000

MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
MAIL_FROM=no-reply@eblocul.md
